<%= throw comment %>

<div class="media">
  <a class="pull-right" href="#" >
    <img class="media-object avatar" src="http://placekitten.com/76/76" alt="">
  </a>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </p>

    <footer>
      <cite title="Source Title">
        <%= link_to 'Joan Smith', '#' %>
      </cite>
      <span>&nbsp; August 25, 2014 at 9:30 PM</span>
    </footer>
  </blockquote>
</div>
